page-home {

  #contenedorA{
    width: auto;
    height: auto;
    margin-left: 40px;
    margin-right: auto;

  }



  .img_prod{
    width: 80px;
    height: 65px;

  }

  #p{border: solid,

  }



}
